.cuerpoHome {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 5px;
    padding: 20px;
    margin: 4em 0;
}

.homeCards {
    background-color: rgb(162, 255, 255);
    border: 2px solid rgb(255, 133, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 32%;
}

.homeCards>a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.homeCards>p {
    font-weight: bold;
}

.homeCards:hover .homeImg {
    transform: scale(1.20);
}

.homeImg {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    transition: transform 0.3s ease;
}

.homeCards:hover .homeText {
    font-weight: bold;
    transform: scale(1.3);
}

.homeText {
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
    transition: transform 0.3s ease;
}