<body>
    <div class="container">
        <div class="cuerpoHome">
            <div class="homeCards">
                <a routerLink="/caja"><img class="homeImg" src="../../../assets/home/Xuxemons/XuxUser.jpg" alt=""></a>
                <h4 class="homeText">Mis Xuxemons</h4>
            </div>
            <div class="homeCards">
                <a routerLink="/xuxedex"><img class="homeImg" src="../../../assets/home/Xuxemons/Xux.jpg" alt=""></a>
                <h4 class="homeText">Xuxedex</h4>
            </div>
        </div>
    </div>
</body>