<body>
    <div class="container">
        <div class="cuerpoHome">
            <div class="homeCards">
                <a routerLink="/caja"><img class="homeImg" src="../../../assets/home/xuxedex.png" alt=""></a>
                <h5 class="homeText">Mis Xuxemons</h5>
            </div>
            <div class="homeCards">

                <a routerLink="/xuxedex"><img class="homeImg" src="../../../assets/home/xuxedex.png" alt=""></a>
                <h5 class="homeText">Xuxedex</h5>
            </div>
        </div>
    </div>
</body>