/* Header */
header {
    background-color: #d9cfde;
    border-bottom: 2px solid #ffff;
    padding: 10px 0;
}

.formatHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: 2px solid #ffff;
    border-radius: 40%;
    margin-left: 4px;
    height: 60px;
    width: 60px;
}

.logo:hover {
    border: 2px solid rgb(133, 255, 255);
}

.imgHeader {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-right: 1em;
}

.imgHeaderAdmin {
    margin-right: 0.8em;
    margin-top: 10px;
    height: 30px;
    width: 30px;
}

.button_slide {
    margin-right: 1em;
    width: 50px;
    height: 50px;
}

.button_slide:hover {
    cursor: pointer;
}

.icons {
    width: 50px;
    height: 50px;
}