.list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 2em 0 1em 0;
    min-height: 300px;
}

.list-container-chuch {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-height: 300px;
}

.card-flex {
    border-radius: 25px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    min-width: 192px;
    min-height: 240px;
}

.card-flex-chuch {
    border: 3px solid #ffff;
    border-radius: 25px;
    background-color: #d9cfde;
    text-align: center;
    margin-bottom: 10px;
    min-width: 210px;
    min-height: 200px;
}

.card-title {
    color: black;
    padding-top: 10px;
    font-size: 18px;
    text-shadow: 0 0 3px black;
}

.card-header {
    display: flex;
    justify-content: space-evenly;
}

.imgFormat {
    margin: 10px 0;
    width: 100px;
    height: 100px;
}

.imgFormat-xux {
    align-content: center;
    min-height: 150px;
}

.evolutionBtn {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.uno:hover {
    cursor: pointer;
}

.dos:hover {
    cursor: pointer;
}