<body>
    <div class="container">
        <div class="list-container">
            <div class="card-flex" [ngStyle]="getStyle(xuxeData.tipo)">
                <div class="card-header">
                    <h3 class="card-title">
                        {{xuxeData.nombre}}
                    </h3>
                </div>

                <h4 class="card-title" [ngStyle]="getTipeStyle(xuxeData.tipo)">
                    {{xuxeData.tipo}}
                </h4>

                <div class="imgFormat-xux">
                    <img [src]="'../assets/xuxemons/' + xuxeData.archivo" [attr.alt]="xuxeData.nombre"
                        [ngStyle]="getImageStyle(xuxeData.tamano)">
                </div>

                <div>
                    <a *ngIf="cumpleEvo1 && xuxeData.tamano == 'pequeno'" (click)="accionCumpleEvo1()"
                        class="evolutionBtn uno">Evolución 1</a>
                    <a *ngIf="cumpleEvo2 && xuxeData.tamano == 'mediano'" (click)="accionCumpleEvo2()"
                        class="evolutionBtn dos">Evolució 2</a>
                </div>
            </div>

            <div class="list-container-chuch">
                <div class="card-flex-chuch" *ngFor="let chuche of chuchesList">
                    <a (click)="alimentarXuxemon(chuche.chuche_id)">
                        <div class="card-header">
                            <h4 class="card-title">
                                {{chuche.nombre}}
                            </h4>
                            <p class="staks" *ngIf="chuche.stack > 1">x{{chuche.stack}}</p>
                        </div>
                        <div>
                            <img class="imgFormat" [src]="'../../../../assets/home/chuches/' + chuche.archivo"
                                alt="{{ chuche.nombre }}">
                        </div>

                        <h5 class="modificador">{{chuche.modificador}}xp</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>