.container {
    display: flex;
    margin: 30px 0;
    /* background: red; */
    width: 100%;
    min-width: 100%;
}

.imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.botonesImg {
    margin: 50px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.crearB {
    border-bottom: 2px solid #E7E4F1;
    color: black;
    padding: 10px;
    margin-top: 0.5em;
    margin-right: 30px;
    margin-bottom: 0.5em;
    text-decoration: none;
}

.crearB:hover {
    border-bottom: 2px solid #ffff;
    cursor: pointer;
}

.info {
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin: 50px;
    background: blue;
    color: white;
    width: 100%;
}

.inputText {
    width: 78%;
}

img {
    width: 50%;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.descripcion {
    display: flex;
    flex-direction: column;
    background: skyblue;
    color: white;
    justify-content: space-between;
    align-items: baseline;
}

.descripcionInput {
    min-height: 100%;
    min-width: 100%;
}

.butGuardar {
    display: flex;
    margin: 30px;
    justify-content: space-around;
}

.minInfo {
    display: flex;
    flex-direction: row;
    background: skyblue;
    color: white;
    justify-content: space-between;
    align-items: baseline;
}