<body>
    <div class="container">
        <div class="cuerpoHome">
            <div class="homeCards">
                <a routerLink="/chuches"><img class="homeImg" src="../../assets/home/chuches/candies.png"
                        alt="img chcuches"></a>
                <h4 class="homeText">Chuches</h4>
            </div>
            <div class="homeCards">
                <a routerLink="/objetos"><img class="homeImg" src="../../assets/home/objetos/objects.png"
                        alt="img objetos"></a>
                <h4 class="homeText">Objetos</h4>
            </div>
        </div>
    </div>
</body>