.first-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}


h3 {
  text-align: center;
}

.crearB {
  border-bottom: 2px solid #E7E4F1;
  color: black;
  padding: 10px;
  margin-top: 0.5em;
  margin-right: 30px;
  margin-bottom: 0.5em;
  text-decoration: none;
}

.crearB:hover {
  border-bottom: 2px solid #ffff;
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.tituloPrincipal {
  width: 100%;
}

.card-flex {
  border: 3px solid #ffff;
  border-radius: 25px;
  background-color: #d9cfde;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  min-width: 210px;
  min-height: 210px;
}

.card-header {
  display: flex;
  justify-content: space-evenly;
}

.card-title {
  color: black;
  padding-top: 10px;
  font-size: 18px;
  text-shadow: 0 0 3px black;
}

.stacks {
  margin-top: 4px;
}

img {
  margin: 10px 0;
  width: 100px;
  height: 100px;
}

.modificador {
  align-content: end;
  align-items: end;
  margin-bottom: 0;
}