<body>
    <div class="container">
        <!-- Solo para usuario administrador -->
        <div class="first-section">
            <a (click)="debug()" class="crearB">
                Generar Chuches Diarias
            </a>
        </div>
        <!-- //////////////////////////////////////// -->

        <div class="list-container">
            <div class="tituloPrincipal">
                <h3>Lista de Chuches</h3>
            </div>

            <div class="card-flex" *ngFor="let chuche of chucheUser">
                <div class="card-header">
                    <h4 class="card-title">
                        {{chuche.nombre}}
                    </h4>
                    <p class="staks" *ngIf="chuche.stack > 1">x{{chuche.stack}}</p>
                </div>
                <div class="imgFormat">
                    <img [src]="'../../../../assets/home/chuches/' + chuche.archivo" alt="{{ chuche.nombre }}">
                </div>

                <h5 class="modificador">{{chuche.modificador}}xp</h5>

            </div>
        </div>
    </div>
</body>