<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h4>Información de contacto</h4>
                <p>Dirección: 924 Calle Principal, Ciudad, País</p>
                <p>Teléfono: +44:44869894</p>
                <p>Correo electrónico: g8team@g8team.com</p>
            </div>
            <div class="col-lg-6">
                <h4>Enlaces rápidos</h4>
                <ul>
                    <li><a routerLink="/contactos">Contactos</a></li>
                    <li><a routerLink="/hospital">Hospital</a></li>
                    <li><a routerLink="/inventario">Inventario</a></li>
                    <li><a routerLink="/xuxemons">Xuxemons</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
