.flexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

form {
  background-color: #d9cfde;
  border: 2px solid #ffff;
  border-radius: 10px;
  padding: 20px;
  margin: 2em 0;
}

.tamanioFormStyle {
  min-width: 80%;
}

.evo1FormStyle {
  margin-right: 10px;
  min-width: 40%;
}

.evo2FormStyle {
  margin-left: 10px;
  min-width: 40%;
}

h2 {
  text-align: center;
}

input,
select {
  border: 1px solid #fcabff;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 12px 0;
  padding: 8px;
  width: 100%;
}

.boton {
  background-color: pink;
  color: #000000;
  border-color: #ffff;
  border-radius: 4px;
  display: inline-block;
  margin-top: 14px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #FEF0D6;
  border-color: pink;
  cursor: pointer;
}