/* Header */
header {
    background-color: #d9cfde;
    border-bottom: 2px solid #ffff;
    padding: 10px 0;
}

.formatHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: 2px solid #ffff;
    border-radius: 40%;
    margin-left: 4px;
    height: 60px;
    width: 60px;
}

.boton {
    background: pink;
    border-radius: 10px;
    border: 1px solid #ffff;
    padding: 10px;
    margin-right: 1em;
}

.botonLogin:hover {
    background: #FEF0D6;
    border: 1px solid #ffff;
}

.botonRegistro:hover {
    background: #D2DAE9;
    border: 1px solid #ffff;
}

/* --------------------- */
/* --------------------- */

/* Body */
.imgPresentacion {
    border: 2px solid #ffff;
    display: flex;
    margin: 1em 0;
    width: 100%;
    height: 240px;
}

.imgPresentacion img {
    flex-grow: 1;
    object-fit: cover;
    width: 0px;
    opacity: .8;
    transition: .5s ease;
}

.imgPresentacion img:hover {
    cursor: crosshair;
    width: 120px;
    opacity: 1;
    filter: contrast(100%);
}

.presentación {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 1em 0;
}

.intro {
    color: rgb(0, 0, 0);
    text-align: justify;
}

.cartaX {
    width: 20%;
    height: auto;
    margin-left: 60px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

/* --------------------- */
/* --------------------- */

/* Footer */
footer {
    background-color: #d9cfde;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-top: 2px solid rgb(255, 255, 255);
    padding-top: 1em;
    padding-left: 25%;
    margin-top: auto;
    color: rgb(0, 0, 0);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}