<header>
    <div class="container">
        <div class="formatHeader">
            <span>
                <img src="../../assets/landingPage/logo.png" alt="*logo*" class="logo">
            </span>
            <span>
                <button routerLink="/login" class="boton botonLogin">Iniciar Sesión</button>
                <button routerLink="/registro" class="boton botonRegistro">Registrarse</button>
            </span>
        </div>
    </div>
</header>

<div class="container">
    <section class="imgPresentacion">
        <img src="../../assets/landingPage/1.jpg" alt="*error al cargar img*">
        <img src="../../assets/landingPage/2.jpg" alt="*error al cargar img*">
        <img src="../../assets/landingPage/3.jpg" alt="*error al cargar img*">
        <img src="../../assets/landingPage/4.jpg" alt="*error al cargar img*">
        <img src="../../assets/landingPage/6.jpg" alt="*error al cargar img*">
    </section>
    <div class="presentación">
        <div class="intro">
            <p>¡Bienvenido a Xuxemons: el juego que te lleva a un mundo lleno de aventuras y
                criaturas misteriosas!<br><br>

                En Xuxemons, tendras la posibilidad de capturar, alimentar y evolucionar a tus Xuxemons.
                Tambien podras compartis esta aventura al lado de tus amigos, ¡incluso intercambiar con ellos!
                <br><br>

                ¡La aventura te espera en Xuxemons! ¿Estás listo para embarcarte en una emocionante búsqueda
                para convertirte en el mejor domador de Xuxemons?
            </p>
        </div>
        <img src="../../assets/landingPage/5.jpg" class="cartaX" alt="*error al cargar img*">
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h4>Información de contacto</h4>
                <p>Dirección: 924 Calle Principal, Ciudad, País</p>
                <p>Teléfono: +44:44869894</p>
                <p>Correo electrónico: g8team@g8team.com</p>
            </div>
            <div class="col-lg-6">
                <h4>Enlaces rápidos</h4>
                <ul>
                    <li><a routerLink="/login">Iniciar Sesión</a></li>
                    <li><a routerLink="/registro">Registrarse</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>