<body>
    <div class="container">
        <div class="equipo">
            <div class="title-style">
                <h3>Equipo</h3>
            </div>
            <div class="card-flex" *ngFor="let cardUser of xuxemonsUserActivos" [ngStyle]="getStyle(cardUser.tipo)">
                <h3 class="card-title">
                    {{cardUser.nombre}}
                </h3>

                <h4 class="card-title" [ngStyle]="getTipeStyle(cardUser.tipo)">
                    {{cardUser.tipo}}
                </h4>

                <div class="imgFormat">
                    <img [src]="'../assets/xuxemons/' + cardUser.archivo" [attr.alt]="cardUser.nombre"
                        [ngStyle]="getImageStyle(cardUser.tamano)">
                </div>

                <img class="button_upload" src="../../../../assets/xuxemons/iconos/download1.png" alt=""
                    onmouseover="this.src='../../../../assets/xuxemons/iconos/download.gif';"
                    onmouseout="this.src='../../../assets/xuxemons/iconos/download1.png'" (click)="activo(cardUser)">

                <div class="card-header">
                    <div *ngIf="cardUser.favorito == 0 && !cardUser.enfermo">
                        <button class="btn alimentar-btn" (click)="alimentar(cardUser)">
                            Alimentar
                        </button>

                        <button class="btn eliminar-btn" (click)="eliminar(cardUser.xuxemon_id)">
                            Liberar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="first-section">
            <div class="pagination">
                <a (click)="prevPage()" [class.disabled]="currentPage === 1">
                    <img class="flechitas f1" src="./../../../../assets/home/Xuxemons/flechitas.png" alt="Atras">
                </a>
                <span class="paginasXuxemons">Caja {{currentPage}}</span>
                <a (click)="nextPage()" [class.disabled]="getCurrentPageXuxemons().length < this.itemsPerPage">
                    <img class="flechitas" src="./../../../../assets/home/Xuxemons/flechitas.png" alt="Siguiente">
                </a>
            </div>

            <select class="select-css" [(ngModel)]="categoria">
                <option value="">Categoria</option>
                <option *ngFor="let categoria of conseguirCategorias()" [value]="categoria">{{categoria}}</option>
            </select>

            <a (click)="debug()" class="generarB">
                Captura Aleatoria
            </a>

        </div>
        <div class="list-container">
            <div class="card-flex" *ngFor="let cardUser of getCurrentPageXuxemons()"
                [ngStyle]="getStyle(cardUser.tipo)">
                <div class="card-header">
                    <h3 class="card-title">
                        {{cardUser.nombre}}
                    </h3>
                    <a (click)="favorito(cardUser)" *ngIf="cardUser.favorito == 0">
                        <img class="button_slide" alt="star"
                            onmouseout="this.src='../../../assets/xuxemons/iconos/star1.png'"
                            onmouseover="this.src='../../../assets/xuxemons/iconos/star3.png';"
                            src="../../../assets/xuxemons/iconos/star1.png"
                            onclick="this.src='../../../assets/xuxemons/iconos/star2.png';">
                    </a>

                    <a (click)="favorito(cardUser)" *ngIf="cardUser.favorito == 1">
                        <img class="button_slide" alt="star"
                            onmouseout="this.src='../../../assets/xuxemons/iconos/star3.png'"
                            onmouseover="this.src='../../../assets/xuxemons/iconos/star1.png';"
                            src="../../../assets/xuxemons/iconos/star3.png">
                    </a>
                </div>

                <h4 class="card-title" [ngStyle]="getTipeStyle(cardUser.tipo)">
                    {{cardUser.tipo}}
                </h4>

                <div class="imgFormat">
                    <img [src]="'../assets/xuxemons/' + cardUser.archivo" [attr.alt]="cardUser.nombre"
                        [ngStyle]="getImageStyle(cardUser.tamano)">
                </div>

                <a>
                    <img class="button_upload" src="../../../../assets/xuxemons/iconos/upload1.png" alt=""
                        onmouseover="this.src='../../../../assets/xuxemons/iconos/upload.gif';"
                        onmouseout="this.src='../../../assets/xuxemons/iconos/upload1.png'" (click)="activo(cardUser)">
                </a>

                <!-- Diferentes alternativas para el mismo tramo de codigo -->
                <div class="card-header">
                    <div *ngIf="cardUser.favorito == 0 && !cardUser.enfermo">
                        <button class="btn alimentar-btn" (click)="alimentar(cardUser)">
                            Alimentar
                        </button>

                        <button class="btn eliminar-btn" (click)="eliminar(cardUser.xuxemon_id)">
                            Liberar
                        </button>
                    </div>

                    <div *ngIf="cardUser.favorito == 1 && !cardUser.enfermo">
                        <button class="btn alimentar-btn" (click)="alimentar(cardUser)">
                            Alimentar
                        </button>
                    </div>

                    <div *ngIf="cardUser.enfermo && cardUser.noComer">
                        <button class="btn alimentar-btn" (click)="hospital()">
                            Ir al Hospital
                        </button>

                        <button class="btn eliminar-btn" (click)="eliminar(cardUser.xuxemon_id)">
                            Liberar
                        </button>
                    </div>

                    <div *ngIf="cardUser.enfermo && !cardUser.noComer">
                        <button class="btn alimentar-btn" (click)="alimentar(cardUser)">
                            Alimentar
                        </button>

                        <button class="btn alimentar-btn" (click)="hospital()">
                            Ir al Hospital
                        </button>
                    </div>
                </div>
                <!-- /----------------------------------------/ -->
            </div>
        </div>
    </div>
</body>