<body>
    <div class="container">
        <div class="cuerpoHome">
            <div class="homeCards">
                <a routerLink="/contactos"><img class="homeImg" src="../../assets/home/contacts.png"
                        alt="error al cargar la img"></a>
                <p class="homeText">Contactos</p>
            </div>
            <div class="homeCards">
                <a routerLink="/hospital"><img class="homeImg" src="../../assets/home/hospital.png"
                        alt="error al cargar la img"></a>
                <p class="homeText">Hospital</p>
            </div>
            <div class="homeCards">
                <a routerLink="/inventario"><img class="homeImg" src="../../assets/home/bag.png"
                        alt="error al cargar la img"></a>
                <p class="homeText">Inventario</p>
            </div>
            <div class="homeCards">
                <a routerLink="/xuxemons"><img class="homeImg" src="../../assets/home/xuxedex.png"
                        alt="error al cargar la img"></a>
                <p class="homeText">Xuxedex</p>
            </div>
        </div>
    </div>
</body>