<body>
    <div class="container">
        <div class="cuerpoHome">
            <div class="homeCards">
                <a routerLink="/contactos"><img class="homeImg" src="../../assets/home/botonesMenu/contacts.jpg"
                        alt="error al cargar los contactos"></a>
                <h4 class="homeText">Contactos</h4>
            </div>
            <div class="homeCards">
                <a routerLink="/hospital"><img class="homeImg" src="../../assets/home/botonesMenu/hospital.jpg"
                        alt="error al cargar del hospital"></a>
                <h4 class="homeText">Hospital</h4>
            </div>
            <div class="homeCards">
                <a routerLink="/inventario"><img class="homeImg" src="../../assets/home/botonesMenu/bag.jpg"
                        alt="error al cargar la mochila"></a>
                <h4 class="homeText">Inventario</h4>
            </div>
            <div class="homeCards">
                <a routerLink="/xuxemons"><img class="homeImg" src="../../assets/home/botonesMenu/xuxedex.jpg"
                        alt="error al cargar la xuxedex"></a>
                <h4 class="homeText">Xuxedex</h4>
            </div>
        </div>
    </div>
</body>